
{% load search_filter %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/DDStyle.css' %}" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	</head>
	<body>

		<div class="topnav" id="myTopnav">
			<a href="#home" class="active">
				<img src="{% static 'images/logo.png' %}" class="d-inline-block align-top" alt="">
			</a>
			{% if not loggedIn %}
				<form action="{% url 'account:login' %}" class="menuItem">
					{% csrf_token %}
					<button>Sign In<i style="margin:2px;" class="fa fa-sign-out"></i></button>
				</form>
			{% else %}
				<form action="{% url 'account:logout' %}" class="menuItem">
					{% csrf_token %}
					<button>logout<i style="margin:2px;" class="fa fa-sign-out"></i></button>
				</form>
				<form action="{% url 'account:signup' %}" class="menuItem">
					{% csrf_token %}
					<button id="name" disabled>{{username}}</button>
				</form>
			{% endif %}


			<form method="post" action="{% url 'data_display:search' %}" class="form-inline menuItem" >
				{% csrf_token %}
				<select name="type" id="select1" class="formInputs">
					<option value="Questionnaire">Questionnaire</option>
					<option value="Question">Question</option>
					<option value="Source">Source</option>
					<option value="Multimedia">Multimedia</option>
					<option value="PaperSlip">PaperSlip</option>
					<option value="PaperSlipRecord">PaperSlipRecord</option>
					<option value="Lemma">Lemma</option>
					<option value="Person">Person</option>
				</select>
				<select name="select2" id="select2" class="formInputs">
					<option value="rdfs:label">Label</option>
					<option value="oldcan:note">Note</option>
					<option value="rdf:type">Type</option>
					<option value="oldcan:title">Title</option>
					<option value="oldcan:hasAuthor">Has Author</option>
					<option value="oldcan:publicationYear">Publication Year</option>
					<option value="oldcan:hasMultimedia">Has Multimedia</option>
				</select>
				<input type="text" class="formInputs" name="val" id="textInput" placeholder="Enter Value" aria-label="Search" style="color:white;">
				<button type="submit" class="formInputs" id="formButton"><i class="fa fa-search"></i></button>
			</form>
			<a style="font-size:15px;" class="icon"><i class="fa fa-bars"></i></a>
		</div>
		
		<div class="container-fluid" >
			<div class="row">
				<div class="col-2" id="sideM">
					<ul id="sideMenu" >
						<li>
							<a href="{% url 'data_display:index' type='Questionnaire' amount=10 offset=1 %}" >Questionnaires</a>
						</li>
						<li>
							<a href="{% url 'data_display:index' type='Question' amount=10 offset=1 %}" >Questions</a>
						</li>
						<li>
							<a href="{% url 'data_display:index' type='Source' amount=10 offset=1 %}" >Sources</a>
						</li>
						<li>
							<a href="{% url 'data_display:index' type='Multimedia' amount=10 offset=1 %}" >Multimedias</a>
						</li>
						<li>
							<a href="{% url 'data_display:index' type='PaperSlip' amount=10 offset=1 %}" >PaperSlips</a>
						</li>
						<li>
							<a href="{% url 'data_display:index' type='PaperSlipRecord' amount=10 offset=1 %}" >PaperSlip Records</a>
						</li>
						<li>
							<a href="{% url 'data_display:index' type='Lemma' amount=10 offset=1 %}" >Lemmas</a>
						</li>
						<li>
							<a href="{% url 'data_display:index' type='Person' amount=10 offset=1 %}" >Persons</a>
						</li>
					</ul>
				</div>
				<div class="row mobileVersion" >
					<div class="navigate">
						<button class="dropBtn">Questionnaire<i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content">
							<a class="dropdown-item" href="{% url 'data_display:index' type='Questionnaire' amount=10 offset=1 %}">Questionnaires</a>
								<a href="{% url 'data_display:index' type='Question' amount=10 offset=1 %}">Questions</a>
								<a href="{% url 'data_display:index' type='Source' amount=10 offset=1 %}">Sources</a>
								<a href="{% url 'data_display:index' type='Multimedia' amount=10 offset=1 %}">Multimedias</a>
								<a href="{% url 'data_display:index' type='PaperSlip' amount=10 offset=1 %}">PaperSlips</a>
								<a href="{% url 'data_display:index' type='PaperSlipRecord' amount=10 offset=1 %}">PaperSlip Records</a>
								<a href="{% url 'data_display:index' type='Lemma' amount=10 offset=1 %}">Lemmas</a>
								<a href="{% url 'data_display:index' type='Person' amount=10 offset=1 %}">Persons</a>
						</div>
					</div>
				</div>
				{% block content %}
				{% endblock %}
			</div>
			<hr>
			{% if displayCards %}
				<div class="row">
					<div class="btn-container">
						<div class="navigation" >
							<a href="{% backTen amount offset type%}" class="btn"><i class="fa fa-arrow-left" style="color:white;"></i></a>
							<a href="{% forwardTen amount offset type%}" class="btn" ><i class="fa fa-arrow-right" style="color:white;"></i></a>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="row">
				<footer>
					<ul>
						<li id="copyRights"><h4>Copy Right &copy 2018 ExploreAt Centre</h4></li>
						<li class="crImages"><img src="{% static 'images/dcu.png' %}" width="60px;" height="60px" /></li>
						<li class="crImages"><img src="{% static 'images/ucd.jpg' %}" width="60px;" height="60px" /></li>
						<li class="crImages"><img src="{% static 'images/dit.jpg' %}" width="60px;" height="60px" /></li>
						<li class="crImages"><img src="{% static 'images/trinity.jpg' %}" width="60px;" height="60px" /></li>
					</ul>
				</footer>
			</div>
		</div>

		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<script src="{% static 'script/DDJQuery.js' %}" ></script>
	</body>
</html>