{% extends 'data_display/base.html' %}
{% load search_filter %}
{% load staticfiles %}
{% block content %}

		<div class="col-10 col-md-9">
			<div class="row">
			        {% getRange True 0 as range %}
					{% for i in range %} <!-- range return a range data type from the dictionary ie, how many subjects were in the url -->
					    <div class="card col-sm-10 col-md-3 col-lg-2 m-3 p-0 m-1">
							<div class="card-header bg-dark text-light">{% getName i %}</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item text-black-50">Title</li>
								<li class="list-group-item text-black-50">Type</li>
								<li class="list-group-item text-black-50">Author</li>
							</ul>
							<a href="data_display/infoDisplay/{{ type }}/{{ id }}" class="btn btn-primary m-2">View more</a>
							<div>
								<a href="data_diplay/edit" data-toggle="tooltip"  data-placement="right" title="Edit"><i class="fa fa-wrench m-2"></i></a>
							</div>
						</div>
					{% endfor %}
			</div>
		
		</div>
{% endblock %}